<%= render "notice" %>
<turbo-frame id="services_table">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <% if @services.present? %>
        <%= render @services %>
      <% else %>
        <%= render "services/notice" %>
      <% end %>
    </tbody>
  </table>
</turbo-frame>
