<h1>Combo Redemption Confirmation</h1>
<p>Dear <%= @customer.name %>,</p>

<p>Your combo <strong><%= @combo.service.name %></strong> has been successfully redeemed.</p>

<p>Instructions:</p>
<ul>
  <li>Use this combo at our salon before it expires.</li>
  <li>Contact support if you have any issues.</li>
</ul>

<p>Thank you for choosing our service!</p>
