<% if flash[:notice].present? %>
  <div id="flash-message" style="color: green; font-weight: bold;">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert].present? %>
  <div id="flash-message" style="color: red; font-weight: bold;">
    <%= flash[:alert] %>
  </div>
<% end %>
